@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(#f0f6f8, #e0e1e7);
}

main {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #3a4346;
  color: #f0f6f8;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

img {
  width: 250px;
  height: 150px;
  border-radius: 8px;
}

header h1 {
  margin: 0;
  font-size: 1.75rem;
  color: #f7e596;
}

button {
  margin: 20px 0;
  padding: 8px 12px;
  background-color: #f9a73b;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 10px auto 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3%;
}

article{
  padding: .8rem 0;
}

li {
  margin: 10px 0;
  flex-basis: 30%;
  background-color: #475357;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

li h2 {
  margin: 0;
  font-size: 1.25rem;
  color: #b1c1c3;
}

li p {
  font-family: inherit;
  margin: 3px;
  font-size: 0.75rem;
  color: #dfd9be;
}

li button {
  font-size: 1rem;
  margin: 0;
  background: transparent;
  box-shadow: unset;
  color: #909a9a;
  cursor: pointer;
}

li button:hover {
  color: #f9a73b;
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */